<p>
  <b>Name:</b>
  <%=h @vendor.name %>
</p>

<p>
  <b>Address1:</b>
  <%=h @vendor.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%=h @vendor.address2 %>
</p>

<p>
  <b>City:</b>
  <%=h @vendor.city %>
</p>

<p>
  <b>State:</b>
  <%=h @vendor.state %>
</p>

<p>
  <b>Postal:</b>
  <%=h @vendor.postal %>
</p>

<p>
  <b>Contact:</b>
  <%=h @vendor.contact %>
</p>

<p>
  <b>Email address:</b>
  <%=h @vendor.email_address %>
</p>

<p>
  <b>Timezone:</b>
  <%=h @vendor.timezone %>
</p>

<p>
  <b>Phone:</b>
  <%=h @vendor.phone %>
</p>

<p>
  <b>Tollfree:</b>
  <%=h @vendor.tollfree %>
</p>

<p>
  <b>Active:</b>
  <%=h @vendor.active %>
</p>


<%= link_to 'Edit', edit_vendor_path(@vendor) %> |
<%= link_to 'Back', vendors_path %>