<h1>Listing order_details</h1>

<table>
  <tr>
    <th>Order</th>
    <th>Product</th>
    <th>Qty</th>
    <th>Weight lbs</th>
    <th>Price</th>
  </tr>

<% @order_details.each do |order_detail| %>
  <tr>
    <td><%=h order_detail.order_id %></td>
    <td><%=h order_detail.product_id %></td>
    <td><%=h order_detail.qty %></td>
    <td><%=h order_detail.weight_lbs %></td>
    <td><%=h order_detail.price %></td>
    <td><%= link_to 'Show', order_detail %></td>
    <td><%= link_to 'Edit', edit_order_detail_path(order_detail) %></td>
    <td><%= link_to 'Destroy', order_detail, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New order_detail', new_order_detail_path %>